
Project Pertama - William Tan/Library/*
Project Pertama - William Tan/Logs/*
Project Pertama - William Tan/Temps/*
Project Pertama - William Tan/.vs/*
Project Pertama - William Tan/obj/*

Project Pertama - William Tan/.vsconfig
Project Pertama - William Tan/*.sln
Project Pertama - William Tan/csproj/*
